body{
    text-align: center;
    background-color: rgba(58, 53, 53, 0.733);
    color: white;
    font-size: 22px;
}

.title{
    display: inline-block;
    font-style: italic ;
}

.logout{
    background-color: red; border-radius: 4 px; opacity: 0.8; size: 20 px;
}

#gameContainer{
    border: 1px solid black;
    width: 30%;
    align-items: center;
    margin: 0 auto;
}